<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="testBuffer" class="com.baidu.unbiz.modules.pool.DelayExecuteBuffer"
		init-method="start" destroy-method="flush">
		<property name="name" value="testBuffer" />
		<property name="poolSize" value="5000" />
		<property name="batchSize" value="1000" />
		<property name="threads" value="1" />
		<property name="checkInterval" value="2" />
		<property name="batchExecutor">
			<bean class="com.baidu.unbiz.modules.pool.EchoExecutor"></bean>
		</property>
	</bean>

	<bean id="executor" class="com.baidu.unbiz.modules.pool.FileWriteExecutor">
		<property name="fileDir" value="/tmp" />
		<property name="fileName" value="test.executor" />
		<property name="maxFileSize" value="1024" />
	</bean>
</beans>